# Default-deny publication allowlist. Review new files before adding entries.
# Directories may be traversed, but only these exact files may be added.
*
!*/
!/.gitignore
!/.nojekyll
!/README.md
!/assets/comparison-posters/Amazement_en-txt_\[Energy_Level\]:_High.jpg
!/assets/comparison-posters/Amazement_zh-txt_nergy_Level\]:_Medium.jpg
!/assets/comparison-posters/Amusement_en-txt_\[Energy_Level\]:_High.jpg
!/assets/comparison-posters/Anger_zh-txt__\[Energy_Level\]:_Low.jpg
!/assets/comparison-posters/Anguish_zh_2-txt_\[Energy_Level\]:_High.jpg
!/assets/comparison-posters/Confusion_en-txt_nergy_Level\]:_Medium.jpg
!/assets/comparison-posters/Defensiveness_en_1-txt__\[Energy_Level\]:_Low.jpg
!/assets/comparison-posters/Denial_en-txt__\[Energy_Level\]:_Low.jpg
!/assets/comparison-posters/Disappointment_en-txt_nergy_Level\]:_Medium.jpg
!/assets/comparison-posters/Disappointment_zh-txt_nergy_Level\]:_Medium.jpg
!/assets/comparison-posters/Disbelief_en-txt_nergy_Level\]:_Medium.jpg
!/assets/comparison-posters/Elation_zh-txt_nergy_Level\]:_Medium.jpg
!/assets/comparison-posters/Explanatory_zh_6-txt_\[Energy_Level\]:_High.jpg
!/assets/comparison-posters/Fear_zh-txt_\[Energy_Level\]:_High.jpg
!/assets/comparison-posters/Happiness_en-txt_nergy_Level\]:_Medium.jpg
!/assets/comparison-posters/Hurt_zh-txt__\[Energy_Level\]:_Low.jpg
!/assets/comparison-posters/Rage_en-txt_ar_Status\]:_no_tears.jpg
!/assets/comparison-posters/Rage_zh_1-txt_\[Energy_Level\]:_High.jpg
!/assets/comparison-posters/Regret-en-txt_nergy_Level\]:_Medium.jpg
!/assets/comparison-posters/Sadness_en_1-txt_nergy_Level\]:_Medium.jpg
!/assets/comparison-posters/Sadness_en_2-txt_nergy_Level\]:_Medium.jpg
!/assets/comparison-posters/Sadness_zh-txt_\[Energy_Level\]:_High.jpg
!/assets/comparison-posters/Shame_zh-txt_nergy_Level\]:_Medium.jpg
!/assets/comparison-posters/Surprise_zh_2-txt_\[Energy_Level\]:_High.jpg
!/assets/comparison-posters/Unease_zh-txt_nergy_Level\]:_Medium.jpg
!/assets/comparison-posters/large_en4-txt_\[Energy_Level\]:_High.jpg
!/assets/comparison-posters/large_en5-txt_nergy_Level\]:_Medium.jpg
!/assets/comparison-posters/large_zh5-txt_\[Energy_Level\]:_High.jpg
!/assets/comparison-posters/large_zh6-txt_\[Energy_Level\]:_High.jpg
!/assets/comparison-posters/large_zh7-txt_nergy_Level\]:_Medium.jpg
!/assets/comparison-posters/large_zh8-txt_nergy_Level\]:_Medium.jpg
!/assets/comparison-posters/medium_en_1-txt_nergy_Level\]:_Medium.jpg
!/assets/comparison-posters/medium_en_3-txt_nergy_Level\]:_Medium.jpg
!/assets/comparison-posters/medium_en_5-txt_nergy_Level\]:_Medium.jpg
!/assets/comparison-posters/medium_en_7-txt_nergy_Level\]:_Medium.jpg
!/assets/comparison-posters/medium_zh_4-txt_nergy_Level\]:_Medium.jpg
!/assets/comparison-posters/medium_zh_8-txt_nergy_Level\]:_Medium.jpg
!/assets/comparison-posters/small_en_1-txt_nergy_Level\]:_Medium.jpg
!/assets/comparison-posters/small_en_2-txt_nergy_Level\]:_Medium.jpg
!/assets/comparison-posters/small_en_4-txt_nergy_Level\]:_Medium.jpg
!/assets/comparison-posters/small_en_6-txt_nergy_Level\]:_Medium.jpg
!/assets/comparison-posters/small_zh_1-txt_nergy_Level\]:_Medium.jpg
!/assets/comparison-posters/small_zh_2-txt_nergy_Level\]:_Medium.jpg
!/assets/comparison-posters/small_zh_4-txt_nergy_Level\]:_Medium.jpg
!/assets/comparison-posters/small_zh_5-txt_nergy_Level\]:_Medium.jpg
!/assets/comparison-posters/small_zh_8-txt_nergy_Level\]:_Medium.jpg
!/assets/css/main.css
!/assets/dae_pipeline_gpt_v5_crop.png
!/assets/dae_stage2_loss_curves_samples_zoom.png
!/assets/flow_detour_gpt.png
!/assets/fonts/Satoshi-Variable.fc536e90.woff2
!/assets/fonts/Satoshi-VariableItalic.1733863a.woff2
!/assets/fonts/VulfMono-Light.11515d33.woff2
!/assets/fonts/VulfMono-Regular.f7bb31d9.woff2
!/assets/js/main.js
!/assets/lowpass_split.svg
!/assets/sander_rising_tide.gif
!/assets/stage1_init.svg
!/assets/stage2_distill.svg
!/assets/x_pred.png
!/compare/DAE_Baseline_labeled/Amazement_en-txt_\[Energy_Level\]:_High.mp4
!/compare/DAE_Baseline_labeled/Amazement_zh-txt_nergy_Level\]:_Medium.mp4
!/compare/DAE_Baseline_labeled/Amusement_en-txt_\[Energy_Level\]:_High.mp4
!/compare/DAE_Baseline_labeled/Anger_zh-txt__\[Energy_Level\]:_Low.mp4
!/compare/DAE_Baseline_labeled/Anguish_zh_2-txt_\[Energy_Level\]:_High.mp4
!/compare/DAE_Baseline_labeled/Confusion_en-txt_nergy_Level\]:_Medium.mp4
!/compare/DAE_Baseline_labeled/Defensiveness_en_1-txt__\[Energy_Level\]:_Low.mp4
!/compare/DAE_Baseline_labeled/Denial_en-txt__\[Energy_Level\]:_Low.mp4
!/compare/DAE_Baseline_labeled/Disappointment_en-txt_nergy_Level\]:_Medium.mp4
!/compare/DAE_Baseline_labeled/Disappointment_zh-txt_nergy_Level\]:_Medium.mp4
!/compare/DAE_Baseline_labeled/Disbelief_en-txt_nergy_Level\]:_Medium.mp4
!/compare/DAE_Baseline_labeled/Elation_zh-txt_nergy_Level\]:_Medium.mp4
!/compare/DAE_Baseline_labeled/Explanatory_zh_6-txt_\[Energy_Level\]:_High.mp4
!/compare/DAE_Baseline_labeled/Fear_zh-txt_\[Energy_Level\]:_High.mp4
!/compare/DAE_Baseline_labeled/Happiness_en-txt_nergy_Level\]:_Medium.mp4
!/compare/DAE_Baseline_labeled/Hurt_zh-txt__\[Energy_Level\]:_Low.mp4
!/compare/DAE_Baseline_labeled/Rage_en-txt_ar_Status\]:_no_tears.mp4
!/compare/DAE_Baseline_labeled/Rage_zh_1-txt_\[Energy_Level\]:_High.mp4
!/compare/DAE_Baseline_labeled/Regret-en-txt_nergy_Level\]:_Medium.mp4
!/compare/DAE_Baseline_labeled/Sadness_en_1-txt_nergy_Level\]:_Medium.mp4
!/compare/DAE_Baseline_labeled/Sadness_en_2-txt_nergy_Level\]:_Medium.mp4
!/compare/DAE_Baseline_labeled/Sadness_zh-txt_\[Energy_Level\]:_High.mp4
!/compare/DAE_Baseline_labeled/Shame_zh-txt_nergy_Level\]:_Medium.mp4
!/compare/DAE_Baseline_labeled/Surprise_zh_2-txt_\[Energy_Level\]:_High.mp4
!/compare/DAE_Baseline_labeled/Unease_zh-txt_nergy_Level\]:_Medium.mp4
!/compare/DAE_Baseline_labeled/large_en4-txt_\[Energy_Level\]:_High.mp4
!/compare/DAE_Baseline_labeled/large_en5-txt_nergy_Level\]:_Medium.mp4
!/compare/DAE_Baseline_labeled/large_zh5-txt_\[Energy_Level\]:_High.mp4
!/compare/DAE_Baseline_labeled/large_zh6-txt_\[Energy_Level\]:_High.mp4
!/compare/DAE_Baseline_labeled/large_zh7-txt_nergy_Level\]:_Medium.mp4
!/compare/DAE_Baseline_labeled/large_zh8-txt_nergy_Level\]:_Medium.mp4
!/compare/DAE_Baseline_labeled/medium_en_1-txt_nergy_Level\]:_Medium.mp4
!/compare/DAE_Baseline_labeled/medium_en_3-txt_nergy_Level\]:_Medium.mp4
!/compare/DAE_Baseline_labeled/medium_en_5-txt_nergy_Level\]:_Medium.mp4
!/compare/DAE_Baseline_labeled/medium_en_7-txt_nergy_Level\]:_Medium.mp4
!/compare/DAE_Baseline_labeled/medium_zh_4-txt_nergy_Level\]:_Medium.mp4
!/compare/DAE_Baseline_labeled/medium_zh_8-txt_nergy_Level\]:_Medium.mp4
!/compare/DAE_Baseline_labeled/small_en_1-txt_nergy_Level\]:_Medium.mp4
!/compare/DAE_Baseline_labeled/small_en_2-txt_nergy_Level\]:_Medium.mp4
!/compare/DAE_Baseline_labeled/small_en_4-txt_nergy_Level\]:_Medium.mp4
!/compare/DAE_Baseline_labeled/small_en_6-txt_nergy_Level\]:_Medium.mp4
!/compare/DAE_Baseline_labeled/small_zh_1-txt_nergy_Level\]:_Medium.mp4
!/compare/DAE_Baseline_labeled/small_zh_2-txt_nergy_Level\]:_Medium.mp4
!/compare/DAE_Baseline_labeled/small_zh_4-txt_nergy_Level\]:_Medium.mp4
!/compare/DAE_Baseline_labeled/small_zh_5-txt_nergy_Level\]:_Medium.mp4
!/compare/DAE_Baseline_labeled/small_zh_8-txt_nergy_Level\]:_Medium.mp4
!/index.html
!/videos/DAE_Recon/DAE_Recon1.mp4
!/videos/DAE_Recon/DAE_Recon2.mp4
!/videos/upsample_case/upsample_case1.mp4
